
.center-div {
    margin: 0 auto;
    
  }

  .table-visite{
    padding: 20px;
    width: 800px;
  }
.list-reparation{
    margin: 10px;
}

.value{
    font-weight: bold;
    color: rgb(0, 118, 43);
}

.contenu {
  display: inline-block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.titre1 {
  float: left;
}
.titre2 {
  float: right;
}
.titre2 i{
  color: #ffffff;
}
