<footer class="kilimanjaro_area">
    <!-- Top Footer Area Start -->
    <div class="foo_top_header_one section_padding_100_70">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="kilimanjaro_part">
                        <h5>Apropos</h5>
                        <p> E- garage est </p>
                        <p>Our company is completely creative, clean & 100% responsive website. Put your business into
                            next level with us.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Area Start -->
    <div class=" kilimanjaro_bottom_header_one section_padding_50 text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>© All Rights Reserved by <a href="#">My Footer<i class="fa fa-love"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</footer>