<div class="center-div shadow">
  <h4 class="text-center">Depot Voiture </h4>
  <p class="text-center" style="color: red; font-weight: bold; ">{{message}}</p>
  <form [formGroup]="formulaire" (ngSubmit)="onSubmit()" *ngIf="this.formulaire">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="exampleInputEmail1">Marque de la  voiture</label>
          <input formControlName="marque_voiture" type="text" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
          <div *ngIf="submitted && f.marque_voiture.errors">
            <small *ngIf="f.marque_voiture.errors.required" style="color: red">Champ Obligtoire</small>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Modele de la voiture</label>
          <input formControlName="model_voiture" type="text" class="form-control" aria-describedby="emailHelp">
          <div *ngIf="submitted && f.model_voiture.errors">
            <small *ngIf="f.model_voiture.errors.required" style="color: red">Champ Obligtoire</small>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Date de la déposition</label>
          <input formControlName="date_deposition" type="date" class="form-control" aria-describedby="emailHelp">
          <div *ngIf="submitted && f.date_deposition.errors">
            <small *ngIf="f.date_deposition.errors.required" style="color: red">Champ Obligtoire</small>
          </div>
        </div>

      </div>
      <div class="col">
        <app-image-upload></app-image-upload>
      </div>
    </div>
    <div class="text-center" style="margin-top: 20px;">
      <button type="submit" (click)="valider()" class="btn btn-success">Deposer voiture</button>
    </div>
  </form>
</div>
