<div class="center-div shadow">
  <h4 class="text-center">Depot Voiture </h4>
  <p class="text-center" style="color: red; font-weight: bold; ">{{message}}</p>
  <form [formGroup]="formulaire" (ngSubmit)="onSubmit()" *ngIf="this.formulaire">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="exampleInputEmail1">Nom voiture</label>
          <input formControlName="st1" type="text" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
          <div *ngIf="submitted && f.st1.errors">
            <small *ngIf="f.st1.errors.required" style="color: red">Champ Obligtoire</small>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Modele</label>
          <input formControlName="st2" type="text" class="form-control" aria-describedby="emailHelp">
          <div *ngIf="submitted && f.st2.errors">
            <small *ngIf="f.st2.errors.required" style="color: red">Champ Obligtoire</small>
          </div>
        </div>

      </div>
      <div class="col">
        <!-- <app-file-upload></app-file-upload> -->
        <app-image-upload></app-image-upload>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" (click)="valider()" class="btn btn-success">Deposer voiture</button>
    </div>
  </form>
</div>
