<div class="row">
  <div class="cont_breadcrumbs_2">
    <ul>
      <li><img class="logo-breadcrumbs" src="assets/images/logo.png"></li>
      <li><a routerLink="/accueil"><span class="fa fa-home"></span> Accueil</a></li>
      <li><a routerLink="/atelier-voiture">Liste Voitures</a></li>
      <li><a>Details Voitures</a></li>
      <li><a> {{numero}}</a></li>
      <li><a> {{breadcrumb_active}}</a></li>
    </ul>
  </div>
</div>
<div class="row" style="max-width:98%">
  <div class="col-5">
    <div class="item-voiture shadow" style="width: 100%;">
      <img [src]="this.uploadFileService.bufferToImage(voiture['image'])" class="card-img-top" alt="...">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> {{voiture['marque'] }} {{ voiture['modele'] }} </li>
        <li class="list-group-item"> Numero: {{numero}} </li>
        <h5 class="card-title text-center" style="color: rgb(0, 0, 0); margin-top: 20px; margin-bottom: 10px;">Visites
        </h5>
        <li class="list-group-item">
          <app-atelier-visite (emitVisite)="emitListner($event)" [numero]="numero"></app-atelier-visite>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-7">
    <div class="card tabset center">
      <div class="card-header bg-vert">
        <ul class="nav nav-tabs tab-list" role="tablist">
          <!-- <li class="nav-item" (click)="showTab(1);">
            <a class="nav-link menu" [ngClass]="{'active': currentTab === 1}">
              <i class="fa fa-eye"></i>
              Visites
            </a>
          </li> -->
          <li class="nav-item" (click)="showTab(2);">
            <a class="nav-link menu" [ngClass]="{'active': currentTab === 2}">
              <i class="fa fa-wrench" aria-hidden="true"></i>
              Reparations
            </a>
          </li>
          <!-- <li class="nav-item" (click)="showTab(3);">
            <a class="nav-link menu" [ngClass]="{'active': currentTab === 3}">
              <i class="fa fa-history"></i>
              Historique Visite
            </a>
          </li> -->
        </ul>
      </div>
      <div class="card-body">
        <!-- <app-atelier-visite *ngIf="currentTab === 1" [numero]="numero"></app-atelier-visite> --> *
        <app-atelier-reparation-list [visiteselectionner]="visiteSelectionner"
          *ngIf="currentTab === 2 && visiteSelectionner!=null"> </app-atelier-reparation-list>
        <div *ngIf="visiteSelectionner==null">
          <h6 class="text-center"> Veuillez selectionner Reparations Visite ...
            <span class="spinner-grow text-secondary" role="status"></span>
          </h6>
        </div>

      </div>
    </div>
  </div>

</div>