html, body, .container-table {
    height: 100%;
  }
  .container-table {
    width:100vw;
    height:150px;
    border:1px solid black;
  }
  .vertical-center-row {
    margin:auto;
    width:30%;
    padding:63px;
    text-align:center;

  }
  .center-div {
    margin: 0 auto;
    max-width: 700px;
  }

  .shadow{
    box-shadow: 5px 5px 20px rgba(204, 204, 204, 0.849);
    border-radius: 10px;
    background-color: white;
    padding: 20px;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: -10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

//   ::ng-deep.ng-select-container {
//     border: 1px solid red !important;

//  }
//  .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
//   border-color: red;
//   box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 0 3px rgba(0,126,255,0.1);
// }
