<div class="center-div shadow">
    <h4 class="text-center">Inscription Voiture </h4>
  
    <!-- hhhh -->
    <p class="text-center" style="color: red; font-weight: bold; ">{{message}}</p>
    <form [formGroup]="formulaire" (ngSubmit)="onSubmit()" *ngIf="this.formulaire">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="exampleInputEmail1">Marque de la voiture</label>
            <input formControlName="marque" type="text" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">
            <div *ngIf="submitted && f.marque.errors">
              <small *ngIf="f.marque.errors.required" style="color: red">Champ Obligtoire</small>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Modele de la voiture</label>
            <input formControlName="modele" type="text" class="form-control" aria-describedby="emailHelp">
            <div *ngIf="submitted && f.modele.errors">
              <small *ngIf="f.modele.errors.required" style="color: red">Champ Obligtoire</small>
            </div>
          </div>
  
          <div class="form-group">
            <label for="exampleInputEmail1">numero</label>
            <input formControlName="numero" type="text" class="form-control" aria-describedby="emailHelp">
            <div *ngIf="submitted && f.numero.errors">
              <small *ngIf="f.numero.errors.required" style="color: red">Champ Obligtoire</small>
            </div>
          </div>
          <!-- <div class="form-group">
            <ng-select class="form-control" bindLabel="role.slug" notFoundText="Aucun rôle  trouvé" [searchable]="true"
              [clearable]="true">
              <ng-option [value]="role.id" *ngFor="let role of allRole">
                {{role.slug}}
              </ng-option>
            </ng-select>
          </div> -->
        </div>
        <div class="col">
          <app-image-upload></app-image-upload>
        </div>
      </div>
      <div class="text-center" style="margin-top: 20px;">
        <button type="submit" (click)="valider()" class="btn btn-success">Deposer voiture</button>
      </div>
    </form>
  </div>
  
  
  <!-- <ng-template #modalcontent let-modal>
    <div>
      <div class="modal-header modale-header-charte">
        <h6 class="modal-title" id="modal-basic-title"> Titre Modal </h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Date de la déposition</label>
  
          <div *ngIf="submitted && f.date_deposition.errors">
            <small *ngIf="f.date_deposition.errors.required" style="color: red">Champ Obligtoire</small>
          </div>
        </div>
      </div>
    </div>
  </ng-template> -->
  
  