
<div class="row">
  <div class="cont_breadcrumbs_2">
    <ul>
      <li><a><span class="fa fa-home"></span> Accueil</a></li>
      <li><a>Liste voitures</a></li>
    </ul>
  </div>
</div>
<div class="row" style="margin-top: 20px;" >
  <div class="col">
    <h6 class="title" >Voiture en attente</h6>
    <div class=" shadow-lg p-3 mb-5 bg-white rounded">
      
      <table class="table table table-striped table-hover">
        <thead>
          <tr class="bg-warning white">
            <th scope="col">Voiture</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of voiture_enattente">
            <th scope="row"> {{l['numero']}} </th>
            <td>
              <!-- <button type="button" (click)="dialog.showModal() ; initForm(l['numero'])  "
                class="btn btn-success btn-sm">Creer une
                visite</button> -->
                <button type="button"
                class="btn btn-warning btn-sm btn-valider">Accepter</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col">
    <h6 class="title" >Voiture Accepter</h6>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
      <table class="table table table-striped table-hover">
        <thead>
          <tr class="bg-info white">
            <th scope="col">Voiture</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of voitureaccepter">
            <th scope="row"> {{l['numero']}} </th>
            <td>
              <!-- <button type="button" (click)="dialog.showModal() ; initForm(l['numero'])  "
                class="btn btn-success btn-sm">Creer une
                visite</button> -->
                <button type="button" [routerLink]="['/atelier-detail-voiture',l['numero']]"
                class="btn btn-info btn-sm btn-valider">  <i class="fa fa-cog" aria-hidden="true"></i>  details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<div>
  <dialog #dialog>
    <header>
      <div class="title">Modal Titre</div>
      <span class="close-btn" (click)="dialog.close()"> ✖ </span>
    </header>
    <form [formGroup]="formulaire" (ngSubmit)="onSubmit()" *ngIf="this.formulaire">
      <div class="center">
        <div class="form-group">
          <label>Date debut Visite</label>
          <input formControlName="date_debut" type="date" class="form-control">
          <div *ngIf="submitted && f.date_debut.errors">
            <small *ngIf="f.date_debut.errors.required" style="color: red">Champ Obligtoire</small>
          </div>
        </div>
      </div>
      <div class="center">
        <button class="btn btn-success btn-sm" type="submit" (click)="dialog.close() ; creervisite() ">Ok</button>
        <span style="margin-right: 10px;"></span>
        <button class="btn btn-danger btn-sm" (click)="dialog.close()">Annuler</button>
      </div>
    </form>
  </dialog>
</div>
