.center-div {
  margin: 0 auto;
  max-width: 80%;
}

.white{
  color: white;
}


.contenu {

}
.titre1 {
  float: left;
}
.titre2 {
  float: right;
}





.container {
  width: 100%;
  border: 1px black solid;
}

.centered-element{
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


.btn-valider{
  float: right;
  color: white;
}
