<h5 class="text-center">Réception des voitures</h5>
<div class="center-div shadow-lg p-3 mb-5 bg-white rounded">
  <table class="table table table-striped table-hover">
    <thead>
      <tr class="bg-success white">
        <th scope="col">Voiture</th>
        <th scope="col">Proprietaire</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let l of list">
        <th scope="row"> {{l?.numero}} </th>
        <td>Mark</td>
        <td>
          <button type="button" (click)="dialog.showModal() ; initForm(l?.numero)  "
            class="btn btn-success btn-sm">Creer une
            visite</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div>
  <dialog #dialog>
    <header>
      <div class="title">Modal Titre</div>
      <span class="close-btn" (click)="dialog.close()"> ✖ </span>
    </header>
    <form [formGroup]="formulaire" (ngSubmit)="onSubmit()" *ngIf="this.formulaire">
      <div class="center">
        <div class="form-group">
          <label>Date debut Visite</label>
          <input formControlName="date_debut" type="date" class="form-control">
          <div *ngIf="submitted && f.date_debut.errors">
            <small *ngIf="f.date_debut.errors.required" style="color: red">Champ Obligtoire</small>
          </div>
        </div>
      </div>
      <div class="center">
        <button class="btn btn-success btn-sm" type="submit" (click)="dialog.close() ; creervisite() ">Ok</button>
        <span style="margin-right: 10px;"></span>
        <button class="btn btn-danger btn-sm" (click)="dialog.close()">Annuler</button>
      </div>
    </form>
  </dialog>
</div>
