<h5 class="text-center">Réception des voitures</h5>
<div class="center-div shadow-lg p-3 mb-5 bg-white rounded">
  <table class="table table table-striped table-hover">
    <thead>
      <tr class="bg-success white">
        <th scope="col">Voiture</th>
        <th scope="col">Proprietaire</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let l of list">
        <th scope="row"> {{l?.numero}} </th>
        <td>Mark</td>
        <td>
          <button type="button"  class="btn btn-success btn-sm">Creer une
            visite</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>




<div>
<!-- <jw-modal id="custom-modal-2">
  <div class="contenu">
    <div class="titre1">
      <h6>A Tall Custom Modal!</h6>
    </div>
    <div class="titre2">
      <button (click)="closeModal('custom-modal-2');">Close</button>
    </div>
  </div>
</jw-modal> -->
