
.center-div {
    margin: 0 auto;

  }

  .table-visite{
    padding: 20px;
    width: 800px;
  }
.list-reparation{
    margin: 10px;
}

.value{
    font-weight: bold;
    color: rgb(0, 118, 43);
}

.shadow{
  box-shadow: 5px 5px 20px rgba(204, 204, 204, 0.849);
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.contenu {
  display: inline-block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.titre1 {
  float: left;
}
.titre2 {
  float: right;
}
.titre2 i{
  color: #ffffff;
}


$midnight: #c97800;
$clouds: #ecf0f1;
// General
body {
  color: $midnight;
  background: $clouds;
  padding: 0 1em 1em;
}
h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}
h2 {
  margin: 0 0 .5em;
  font-weight: normal;
}
.input-check {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout
.row {
  display:flex;
  .col {
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
  min-width: 800px;
}
.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $midnight;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken($midnight, 10%);
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $midnight;
    background: white;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;
    &:hover {
      background: darken($midnight, 10%);
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    background: darken($midnight, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.visite-reparation-list{
  margin-left:30px;
  background-color: #cd960028;
  padding: 5px;
  border-radius: 5px;
  box-shadow: -2px 0px 10px -6px rgba(0,0,0,0.3);
  margin: 8px;
}
.bd-paye{
  font-weight: bold;
  color: #ffffff;

}
