<div class="row">
    <div class="cont_breadcrumbs_2">
        <ul>
            <li><img class="logo-breadcrumbs" src="assets/images/logo.png"></li>
            <li><a><span class="fa fa-home"></span> Acueil</a></li>
            <li><a>Bon de sortie</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="center-div shadow-lg p-3 mb-5 bg-white rounded contenu">
        <div class="titre1">

        </div>

        <div class="titre2">
            <button type="button" class="btn btn-success btn-sm"  >Export en excel</button>
        </div>

    </div>
</div>

<div class="row center">
  <div class="tabs ">
    <div class="tab" *ngFor="let l of list ; let i=index">
      <input type="checkbox" id="chck{{i}}">
      <label class="tab-label" for="chck{{i}}">
        Bon de sortie: {{l['prix']}} Ariary
        <span
          [ngClass]="{'badge badge-pill badge-danger': l['etat'] == 0 , 'badge badge-pill badge-success': l['etat'] == 1 }">
          {{ l['etat'] == 0 ? 'Non Payé' : 'Payé'  }}
        </span>
      </label>
      <div class="tab-content">
        <!-- <table class="table table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Piece</th>
              <th scope="col">Duree</th>
              <th scope="col">Prix</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rep of l['reparations'] " >
              <th scope="row">  {{rep['piece']}}  </th>
              <td>  {{rep['duree']}}  </td>
              <td>  {{rep['prix']}}  </td>
              <td>

                <span
                [ngClass]="{'badge badge-pill badge-primary': rep['avancement'] == 0 , 'badge badge-pill badge-warning': rep['avancement'] == 1 , 'badge badge-pill badge-success': rep['avancement'] == 2 }">
                {{ rep['avancement'] == 0 ? 'En cours' : (rep['avancement']== 1 ? 'Non payé' : 'Terminé ' ) }}
              </span>

              </td>
            </tr>
          </tbody>
        </table> -->
      </div>
    </div>
  </div>
</div>
