<div class="container" appDnd>
  <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
  <input type="file" #fileDropRef id="fileDropRef" type="file" (change)="selectFile($event)" />
  <h6>Faites glisser votre image ici</h6>
  <h6>ou</h6>
  <label for="fileDropRef">Parcourir le fichier</label>
</div>


<div class="contenu" *ngIf="url">
  <div class="titre1">
    <img class="image-content" [src]="url" *ngIf="url">
     {{image.name}} ({{image.size>1 ? image.size/1000 : 0}} ko)
  </div>
  <div class="titre2">
    <i class="fa fa-trash" aria-hidden="true" (click)="deleteFile()"></i>
  </div>
</div>
