<aside [ngClass]=" this.authservice.users!=null ? '' : 'display_none'">
  <div id="sidebar" class="nav-collapse ">

    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered">
        <!-- <a href="profile.html"> <img src="assets/adminstyle/img/ui-sam.jpg" class="img-circle" width="80"></a> -->
      </p>
      <p class="centered"><i class="fa fa-user-circle img-circle" width="80"
          style="color: #FFFFFF; font-size: 50px"></i> </p>
      <h6 class="centered" style="color: #FFFFFF"> {{authservice.users?.name}} </h6>
      <p class="centered" style="color: #FFFFFF"> {{authservice.users?.code_type==0? 'Client' :
        (authservice.users?.code_type==1? 'Responsable Atelier' : 'Responsable Financier') }} </p>
      <p class="centered" style="color: #FFFFFF"> {{authservice.users?.email}} </p>
      <li class="mt">
        <a routerLink="/accueil" href="javascript:;" class="active">
          <i class="fa fa-dashboard"></i>
          <span>Accueil</span>
        </a>
      </li>

      <div *ngIf="authservice.users?.code_type==0">
        <li class="sub-menu">
          <a routerLink="inscription-voiture" href="javascript:;">
            <i class="fa fa-line-chart"></i>
            <span>Inscription voiture</span>
          </a>
        </li>

        <li class="sub-menu">
          <a routerLink="liste-voiture" href="javascript:;">
            <i class="fa fa-line-chart"></i>
            <span>Liste Voiture</span>
          </a>
        </li>

        <li class="sub-menu">
          <a routerLink="historique-visite" href="javascript:;">
            <i class="fa fa-line-chart"></i>
            <span>Historique Visite Encours</span>
          </a>
        </li>
      </div>

      <div *ngIf="authservice.users?.code_type==1">
        <li class="sub-menu">
          <a routerLink="/atelier-voiture" href="javascript:;">
            <i class="fa fa-line-chart"></i>
            <span>Liste Demande voiture </span>
          </a>
        </li>
      </div>

      <div *ngIf="authservice.users?.code_type==2">
        <li class="sub-menu">
          <a routerLink="/finance-stat" href="javascript:;">
            <i class="fa fa-line-chart"></i>
            <span>Stats</span>
          </a>
        </li>

        <li class="sub-menu">
          <a routerLink="/finance-depense" href="javascript:;">
            <i class="fa fa-line-chart"></i>
            <span>Depense</span>
          </a>
        </li>
      </div>

        <li class="sub-menu">
          <a routerLink="/list-bon-de-sortie" href="javascript:;">
            <i class="fa fa-line-chart"></i>
            <span>Bon de sortie</span>
          </a>
        </li>
   


      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-user"></i>
          <span>Utilisateur</span>
        </a>
        <ul class="sub">
          <li><a routerLink="inscription" *ngIf="this.authservice.users==null">Inscription</a></li>
          <li><a routerLink="login" *ngIf="this.authservice.users==null">Login</a></li>
          <li style="margin-top: 10px"><button style="width: 100%" class="button btn-danger" (click)="deconnexion()"
              *ngIf="this.authservice.users!=null">Deconnexion</button></li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
<div style="margin-bottom: 50px">lklkl</div>
<div id="{{class}}">
  <div class="container-fluid" style="margin-left: 10px; margin-right: 10px">
    <ngx-spinner [type]="spinner_type" [bdColor]="spinner_background"></ngx-spinner>
    <router-outlet></router-outlet>
  </div>
</div>