lines (63 sloc) 2.43 KB

<!-- <aside> -->
  <!-- <aside  *ngIf="this.authservice.users!=null"> -->
    <aside [ngClass]=" this.authservice.users!=null ? '' : 'display_none'" >
  <div id="sidebar" class="nav-collapse ">

    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered">
        <!-- <a href="profile.html"> <img src="assets/adminstyle/img/ui-sam.jpg" class="img-circle" width="80"></a> -->
      </p>
      <p class="centered"><i class="fa fa-user-circle img-circle" width="80" style="color: #FFFFFF; font-size: 50px"></i>  </p>
      <h6 class="centered"  style="color: #FFFFFF"> {{authservice.users?.name}}  </h6>
      <h6 class="centered"  style="color: #FFFFFF"> {{authservice.users?.email}} </h6>
      <li class="mt">
        <a class="active" routerLink="actuel/dashboard">
          <i class="fa fa-dashboard"></i>
          <span>Tableau de bord</span>
        </a>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-line-chart"></i>
          <span>Statistique</span>
        </a>
        <ul class="sub">
          <li><a routerLink="stat">Temps de réparation moyen</a></li>
          <li><a routerLink="stat">Chiffre d'affaire</a></li>
          <li><a routerLink="stat">Bénéfice</a></li>
        </ul>
      </li>

      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-line-chart"></i>
          <span>Client</span>
        </a>
        <ul class="sub">
          <!-- debut menu client -->
          <li><a routerLink="inscription-voiture">Inscription voiture</a></li>
          <li><a routerLink="liste-voiture">Liste voiture </a></li>
          <li><a routerLink="visite-encours">Historique Visite Encours</a></li>
        </ul>
      </li>


      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-line-chart"></i>
          <span>Responsable </span>
        </a>
        <ul class="sub">
          <!-- debut menu responsable atelier -->
          <li><a routerLink="atelier-voiture">liste voiture</a></li>
          <li><a routerLink="stat">Lister reparations</a></li>
          <li><a routerLink="stat">Bon de sortit</a></li>
          <!-- debut menu responsable atelier -->
        </ul>
      </li>


      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-user"></i>
          <span>Utilisateur</span>
        </a>
        <ul class="sub">
          <li><a routerLink="inscription" *ngIf="this.authservice.users==null">Inscription</a></li>
          <li><a routerLink="login" *ngIf="this.authservice.users==null">Login</a></li>
          <!-- <li><a routerLink="connexion/loginform" *ngIf="this.authservice.users==null" >Connexion</a></li> -->
          <li style="margin-top: 10px"><button style="width: 100%" class="button btn-danger" (click)="deconnexion()" *ngIf="this.authservice.users!=null">Deconnexion</button></li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
<div style="margin-bottom: 50px">lklkl</div>
<div id="{{class}}">
  <div class="container-fluid" style="margin-left: 10px; margin-right: 10px">
    <ngx-spinner  [type]="spinner_type" [bdColor]="spinner_background"></ngx-spinner>
    <router-outlet></router-outlet>
  </div>

  <!-- <div>
    <h1>Home</h1>
    <button (click)="openModal('custom-modal-1')">Open Modal 1</button>
    <button (click)="openModal('custom-modal-2')">Open Modal 2</button>
  </div>

  <jw-modal id="custom-modal-1">
    <h1>A Custom Modal!</h1>
    <button (click)="closeModal('custom-modal-1');">Close</button>
  </jw-modal>

  <jw-modal id="custom-modal-2">
    <h1 style="height:1000px">A Tall Custom Modal!</h1>
    <button (click)="closeModal('custom-modal-2');">Close</button>
  </jw-modal> -->
</div>
