<ngx-spinner [type]="'ball-circus'" [bdColor]="'rgba(51,51,51,0.3)'">
</ngx-spinner>

<div class="shadow" style="width: 18rem;" *ngFor="let l of list">
  <img src="{{l['image']}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> {{l['nomvoiture']}} </h5>
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Numero: {{l['numero']}} </li>
    <li class="list-group-item">
      <div class="contenu">
        <div class="titre1">
          Status: <span class="badge badge-success"> En cours</span>
        </div>
        <div class="titre2">
          <a [routerLink]="['/detail-voiture',l['_id']]" type="button" class="badge badge-info">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Voir Plus
          </a>
            Voir  Plus
          </span>
        </div>
      </div>
    </li>
  </ul>
</div>
