<div>
  <div class="row">
    <button type="button" class="btn btn-secondary btn-sm" (click)="dialog_reparation.showModal(); initForm('id')">
      <i class="fa fa-cog" aria-hidden="true"></i> Creation Reparation
    </button>
  </div>
  <div class="row">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Piece</th>
          <th scope="col">Prix</th>
          <th scope="col">Durée</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of list">
          <td>{{l['piece']}} </td>
          <td>{{  util.monney(l['prix'])  }} </td>
          <td>{{l['duree']}} heure(s) </td>
          <td>
            <span
              [ngClass]="{'badge badge-pill badge-primary': l['avancement'] == 0 , 'badge badge-pill badge-warning': l['avancement'] == 1 , 'badge badge-pill badge-success': l['avancement'] == 2 }">
              {{ l['avancement'] == 0 ? 'En attente' : (l['avancement']== 1 ? 'En cours' : 'Terminé' ) }}
            </span>
          </td>
          <td>
            <button type="button" class="btn btn-success btn-sm btn-valider"
              (click)="dialog_reparation.showModal() ; initFormUpdate(l) ">
              <i class="fa fa-edit" aria-hidden="true"></i> Modifier
            </button>

            <button type="button" class="btn btn-danger btn-sm btn-valider"
              (click)="dialog_delete.showModal() ; selectionnerReparation(l)">
              <i class="fa fa-trash" aria-hidden="true"></i> Supprimer
            </button>

          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>


<div>
  <dialog #dialog_reparation>
    <header>
      <div class="title"> {{isCreateReparation?'Creation' :'Modification '}} Reparation</div>
      <span class="close-btn" (click)="dialog_reparation.close()"> ✖ </span>
    </header>
    <div class="center">
      <form [formGroup]="formulaire" (ngSubmit)="onSubmit()" *ngIf="this.formulaire">
        <div class="form-group">
          <label>Pièce</label>
          <input formControlName="piece" type="text" class="form-control">
          <div *ngIf="submitted && f.piece.errors">
            <small *ngIf="f.piece.errors.required" style="color: red">Champ Obligtoire</small>
          </div>
        </div>

        <div class="form-group">
          <label>Durée</label>
          <input formControlName="duree" type="text" class="form-control">
          <div *ngIf="submitted && f.duree.errors">
            <small *ngIf="f.duree.errors.required" style="color: red">Champ Obligtoire</small>
            <small *ngIf="f.duree.errors.pattern" style="color: red">La valeur du champ doit être un nombre</small>
            <small *ngIf="f.duree.errors.min" style="color: red">la valeur du champ doit être supérieure à 0 </small>
          </div>
        </div>

        <div class="form-group">
          <label>Avancement</label>
          <select formControlName="avancement" class="form-control">
            <option value="1">En cours</option>
            <option value="2">Terminé</option>
          </select>
          <div *ngIf="submitted && f.avancement.errors">
            <small *ngIf="f.avancement.errors.required" style="color: red">Champ Obligtoire</small>
          </div>
        </div>

        <div class="form-group">
          <label>Prix</label>
          <input formControlName="prix" type="text" class="form-control">
          <div *ngIf="submitted && f.prix.errors">
            <small *ngIf="f.prix.errors.required" style="color: red">Champ Obligtoire</small>
            <small *ngIf="f.prix.errors.pattern" style="color: red">La valeur du champ doit être un nombre</small>
            <small *ngIf="f.prix.errors.min" style="color: red">la valeur du champ doit être supérieure à 0 </small>
          </div>
        </div>
        <div class="center">
          <button class="btn btn-success btn-sm" type="submit" (click)="dialog_reparation.close() ; creationreparation() " *ngIf="this.isCreateReparation">Enregistrer</button>
          <button class="btn btn-success btn-sm" type="submit" (click)="dialog_reparation.close() ; updatereparation()" *ngIf="this.isUpdateReparation">Modifier</button>
          <span style="margin-right: 10px;"></span>
          <button class="btn btn-danger btn-sm" (click)="dialog_reparation.close()">Annuler</button>
        </div>
      </form>
    </div>
  </dialog>
</div>

<div>
<dialog #dialog_delete>
  <header>
    <div class="title">Creation visite</div>
    <span class="close-btn" (click)="dialog_delete.close()"> ✖ </span>
  </header>
  <span class="center">
    Voulez-vous supprimer cette reparations  ?
  </span>
  <div class="center">
    <button class="btn btn-success btn-sm" type="submit" (click)="dialog_delete.close() ; deleteReparation()">Ok</button>
    <span style="margin-right: 10px;"></span>
    <button class="btn btn-danger btn-sm" (click)="dialog_delete.close()">Annuler</button>
  </div>
</dialog>
</div>
