<div class="row">
  <div class="cont_breadcrumbs_2">
    <ul>
      <li><img class="logo-breadcrumbs" src="assets/images/logo.png"></li>
      <li><a routerLink="/accueil"><span class="fa fa-home"></span> Accueil</a></li>
      <li><a>Depense</a></li>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <h4 class="shadow-lg p-3 mb-5 bg-white rounded text-center">Création de nouvelles dépenses</h4>
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <form [formGroup]="formulaire" (ngSubmit)="onSubmit()" *ngIf="this.formulaire">
          <div class="form-group">
            <label for="exampleInputEmail1">Depense</label>
            <input formControlName="type" type="text" class="form-control form-sm" id="exampleInputEmail1"
              aria-describedby="emailHelp">
            <div *ngIf="submitted && f.type.errors">
              <small *ngIf="f.type.errors.required" style="color: red">Champ Obligtoire</small>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Prix</label>
            <input formControlName="prix" type="text" class="form-control form-sm" id="exampleInputEmail1"
              aria-describedby="emailHelp">
            <div *ngIf="submitted && f.prix.errors">
              <small *ngIf="f.prix.errors.required" style="color: red">Champ Obligtoire</small>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Date</label>
            <input formControlName="date" type="date" class="form-control form-sm" aria-describedby="emailHelp">
            <div *ngIf="submitted && f.date.errors">
              <small *ngIf="f.date.errors.required" style="color: red">Champ Obligtoire</small>
            </div>
          </div>

          <div class="text-center">
            <button type="submit" *ngIf="!isupdate" (click)="depensecreer()"
              class="btn btn-success">Enregistrer</button>
            <button type="submit" *ngIf="isupdate" (click)="depenseupdate()" class="btn btn-warning">Modifier</button>
          </div>
        </form>

      </div>
    </div>





    <div class="col-md">
      <h4 class="shadow-lg p-3 mb-5 bg-white rounded text-center">Liste dépenses</h4>
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="form-recherche">
          <div class="row center">
            <select [(ngModel)]="moisselection" class="form-control col-sm input-recherche ">
              <option value="{{l.value}}" *ngFor="let l of mois"> {{l.mois}} </option>
            </select>
            <select [(ngModel)]="anneeselection" class="form-control col-sm input-recherche">
              <option value="{{l}}" *ngFor="let l of annee"> {{l}} </option>
            </select>
            <button type="submit" (click)="depensemois()"
              class="btn btn-success btn-sm input-recherche">Recherche</button>
          </div>
        </div>
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Depense</th>
              <th scope="col">Prix</th>
              <th scope="col">Date</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let l of list">
              <th scope="row"> {{l['type'] }} </th>
              <td>{{l['prix'] }}</td>
              <td>
                {{ l['date']!=null ? ( l['date'] | date: 'dd MMMM yyyy') : l['date'] }}
              </td>
              <td>
                <button type="button" class="btn btn-success btn-sm btn-valider" (click)="selectionUpdate(l)"><i
                    class="fa fa-edit" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-danger btn-sm btn-valider" (click)="delete( l )"><i
                    class="fa fa-trash" aria-hidden="true"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>

</div>
