.shadow{
    box-shadow: 5px 5px 20px rgba(204, 204, 204, 0.849);
    border-radius: 10px;
  }



  .contenu {
    display: inline-block;
    width: 100%;
  }
  .titre1 {
    float: left;
  }
  .titre2 {
    float: right;
    margin-top: 0.4%;
  }
  .titre2 i{
    color: #ffffff;
  }

  .voiture-container{
    display: grid;
    grid-template-columns: 120px 120px 120px;
    align-items: start;
  }



  // .containerr {
  //   width: 500px;
  //   border: 5px solid rgb(111,41,97);
  //   border-radius: .5em;
  //   padding: 10px;
  // }



  .center{
    margin: 0 auto;
    width: 10px;
  }
